/* hero-section */
.hero-section {
    background-color: #171D28;
    height: 820px;
    display: flex;
}

.hero-image {
    /* height: 100%; */
    width: 50%;
}

.hero-start {
    color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* line-height: ; */
}

.bring-heading{
    font-size: 1.vw;
}