.Product-Carousel {
    padding-left: 2.4rem;
    padding-top: 2.88rem;
}

.Product-Carousel-product-cards {
    display: flex;
    padding-top: 2.88rem;
}

.card-media {
    background-size: cover;
}